<launch>

<node name="setup" pkg="inmoov_tools" type="setup_parameters.py" />


<node name="arduino" pkg="ros_arduino_python" type="arduino_node.py" output="screen">
  <rosparam file="$(find ros_arduino_python)/config/my_arduino_params.yaml" command="load" />
</node>
<node name="joy" pkg="joy" type="joy_node" output="screen"/>

<node name="xboxteleop" pkg="inmoov_tools" type="xbox_to_twist.py" respawn="true" />

</launch>
