<launch>

<node name="setup" pkg="inmoov_tools" type="setup_parameters.py" />
  <node pkg="rosserial_python" type="serial_node.py" name="servonodeleft" respawn="true" output="screen">
    <param name="port" value="/dev/arduinoleftarm"/>
    <param name="baud" value="115200"/>
  </node>
  <node pkg="rosserial_python" type="serial_node.py" name="servonoderight" respawn="true" output="screen">
    <param name="port" value="/dev/arduinorightarm"/>
    <param name="baud" value="115200"/>
  </node>

<node name="look" pkg="inmoov_tools" type="look.py" respawn="true" />



</launch>
