<launch>

  <rosparam command="delete" param="robot_calibration" />
  <node pkg="robot_calibration" type="calibrate" name="robot_calibration"
        args="--manual"
        output="screen" required="true">
    <rosparam file="$(find fetch_calibration)/config/capture_left.yaml" command="load" />
    <rosparam file="$(find fetch_calibration)/config/calibrate_left.yaml" command="load" />
  </node>



</launch>	

