<launch>

<param name="robot_description" command="$(find xacro)/xacro.py '$(find inmoov_description)/robots/inmoov_base.urdf.xacro'"/>


<node name="rplidarNode"          pkg="rplidar_ros"  type="rplidarNode" output="screen">
<param name="serial_port"         type="string" value="/dev/ttyUSB0"/>  
<param name="serial_baudrate"     type="int"    value="115200"/>
<param name="frame_id"            type="string" value="base_laser_link"/>
<param name="inverted"            type="bool"   value="false"/>
<param name="angle_compensate"    type="bool"   value="true"/>
</node>




<!--<node name="inmoov_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
args="-urdf -param robot_description -model inmoov_base" />-->

<!--GMAPPING-->

<!--<param name="/use_sim_time" value="true"/>-->

<!--<node pkg="tf" type="static_transform_publisher" name="laser_broadcaster" args="0 0 0 0 0 0 base_laser_link chassis 100" />-->

<node pkg="tf" type="static_transform_publisher" name="left_wheel_broadcaster" args=".28575 0.2047875 0 0 0 0 chassis left_wheel 100" />

<node pkg="tf" type="static_transform_publisher" name="right_wheel_broadcaster" args=".28575 -0.2047875 0 0 0 0 chassis right_wheel 100" />




  <!--- Run gmapping -->
  <node pkg="gmapping" name="slam_gmapping" type="slam_gmapping" output="screen">
    <param name="delta" value="0.01"/>
    <param name="xmin" value="-20"/>
    <param name="xmax" value="20"/>
    <param name="ymin" value="-20"/>
    <param name="ymax" value="20"/>

    <param name="base_frame" value="chassis" />

    <param name="linearUpdate" value="0.5"/>
    <param name="angularUpdate" value="0.436"/>
    <param name="temporalUpdate" value="-1.0"/>
    <param name="resampleThreshold" value="0.5"/>
    <param name="particles" value="80"/>

  </node>



  <!-- send fake joint values -->
<!--<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="False"/>
  </node>-->

  <!-- Combine joint values -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>

  <!-- Show in Rviz   -->
  <!--<node name="rviz" pkg="rviz" type="rviz"/> -->
 <node name="rviz" pkg="rviz" type="rviz" args="-d $(find inmoov_navigation)/rviz/map_builder.rviz"/>





</launch>
